<h1>Editing oportunidad</h1>

<%= render "form", oportunidad: @oportunidad %>

<br>

<div>
  <%= link_to "Show this oportunidad", @oportunidad %> |
  <%= link_to "Back to oportunidads", oportunidads_path %>
</div>
